body,html {
    height: 100%;
    overflow: hidden;
}

#tripSelectLabel {
    margin-top: 50px;
}

#logout {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 8px;
    color: rgba(255,255,255,.5);
}

#logout:hover {
    color: rgba(255,255,255,.75);
}

#dropdownMenuButton {
    background-color: transparent;
    font-weight: 400;
    color: #212529;
    box-shadow: none;

}

#tripsdropdown {
    width: 100%;
}

.userrow {
    margin-top: 30px;
}

.trip-btn {
    margin-left: 35px;
    width: 100px;
}

#firstrow {
    margin-top: 60px;
}


#map {
    height: 270px;
    width: 270px;
}


#currentUserId {
    display: none;
}

.formTitle{
    font-size:18px;
    text-align:center;
    text-shadow:1px 0px 3px gray;
}

b{
    font-size:18px;
    text-shadow:1px 0px 3px gray;
}

.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:350px;
    margin:20px 250px 0 35px;
    float:left;
}
.formInput{
    width:100%;
    height:35px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}

input[type=button]{
    background-color:#123456;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:49%;
}

textarea{
    width:100%;
    height:80px;
    margin-top:5px;
    border-radius:3px;
    padding:5px;
    resize:none;
}

#addPhotoDiv{
    /*opacity:0.92;*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

#addPhotoForm{
    width:350px;
    margin:0px;
    background-color:white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid rgb(90, 158, 181);
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-255px;
}


#addTripDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    background-size: 100%;
    display: none;
}

#addTripForm{
    width:350px;
    margin:0px;
    background-color:white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid rgb(90, 158, 181);
    left: 50%;
    top: 35%;
    margin-left:-210px;
    margin-top:-255px;
}


#editTripDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    background-size: 100%;
    display: none;
}

#editTripForm{
    width:350px;
    margin:0px;
    background-color:white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid rgb(90, 158, 181);
    left: 50%;
    top: 35%;
    margin-left:-210px;
    margin-top:-255px;
}

.hide {
    display: none;
}



