<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/loginstyle.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white" id="header">
    <h1 class="display-4">Hello.</h1>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" class="form-control form-control-lg" placeholder="Email" type="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" class="form-control form-control-lg" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block">Sign In</button>
        </div>
        <div>
            <button id="signUpButton" type="button" class="btn btn-danger btn-lg btn-block">Sign Up</button>
        </div>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
    </form>
</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<script type="text/javascript" th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/scripts/login.js}" ></script>

</body>
</html>