<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>My Trips</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/css/loginstyle.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/css/userstyle.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Trips <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" href="#">Logout </a>-->
                <form th:action="@{/logout}" method="post">
                    <input class="nav-link" id="logout" type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row userrow" id="firstrow">
        <div class="col-md-6">
            <div id="tripsdropdown" class="dropdown">
                <label for="tripSelect">Trip: </label>
                <div class="form-group blu-margin">
                    <select class="form-control" th:field="${user}"  id="tripSelect">
                        <!--<option value="0" th:text="Select Trip" ></option>-->
                        <option th:each="tripName : ${user.getTrips().toArray()}" th:value="${tripName.getTripName()}" th:text="${tripName.getTripName()}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="cold-md-2">
            <button type="button" class="btn btn-secondary trip-btn" id="addPhoto">Add Photo</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-primary trip-btn">Add Trip</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-success trip-btn">Edit Trip</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-danger trip-btn" id="deleteTrip">Delete Trip</button>
        </div>
    </div>


    <div class="row userrow">
        <div class="col-md-12">
            <div class="form-group">
                <label for="impressionsText">Impressions:</label>

                <p id="impressionsText"></p>
            </div>
        </div>
    </div>

    <div class="row userrow">
        <div class="col-md-4 googleMap">
            <div  id="map"></div>
            <p id="datesText"></p>
        </div>

    </div>

    <!--<p id="exampleTextarea"><span th:text="${user.getTrips().toArray()[0].getImpression()}"></span></p>-->
    <!--<p id="getTripId"><span th:text="${user.getTrips().toArray()[0].getId()}"></span></p>-->

</div>


<div id="addPhotoDiv">
    <form class="form" action="#" id="addPhotoForm">

        <h3 class="formTitle">Add Trip Photo</h3>
        <hr/><br/>
        <label>Photo Name: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="photoName" placeholder="Photo Name"/><br/>
        <br/>
        <label>Photo Link: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="photoLink" placeholder="Photo Link"/><br/>
        <br/>

        <input type="button" class="formInput" id="send" value="Send"/>
        <input type="button" class="formInput" id="cancel" value="Cancel"/>
        <br/>
    </form>
</div>




<!--<form th:action="@{/logout}" method="post">-->
<!--<input type="submit" value="Sign Out"/>-->
<script type="text/javascript" th:src="@{/plugins/googlemap.js}"></script>
<script type="text/javascript" th:src="@{/plugins/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/plugins/ajaxreq.js}" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL3OcNBWkphg7AdM5AZEPN-MU8c2r68Nw&callback=initMap" async defer></script>

</body>
</html>












<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
    <!--<title>Hello World!</title>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;<p th:text="text" th:utext="${currentUser.username}">Welcome</p>&ndash;&gt;-->
<!--<p>Hello <span th:text="${user.firstName}"></span></p>-->
<!--<p>Test</p>-->

<!--&lt;!&ndash;<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>&ndash;&gt;-->
<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
