<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>My Trips</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/css/loginstyle.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/css/userstyle.css}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Trips <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" href="#">Logout </a>-->
                <form th:action="@{/logout}" method="post">
                    <input class="nav-link" id="logout" type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row userrow" id="firstrow">
        <div class="col-md-6">
            <div id="tripsdropdown" class="dropdown">
                <label for="tripSelect">Trip: </label>
                <div class="form-group blu-margin">
                    <select class="form-control" id="tripSelect">

                        <!--<option th:each="tripName : ${user.getTrips().toArray()}" th:value="${tripName.getTripName()}" th:text="${tripName.getTripName()}"></option>-->
                    </select>
                </div>
            </div>
        </div>

        <div class="cold-md-2">
            <button type="button" class="btn btn-secondary trip-btn" id="addPhoto">Add Photo</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-primary trip-btn" id="addTrip">Add Trip</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-success trip-btn" id="editTrip">Edit Trip</button>
        </div>
        <div class="cold-md-2">
            <button type="button" class="btn btn-danger trip-btn" id="deleteTrip">Delete Trip</button>
        </div>
    </div>


    <div class="row userrow">
        <div class="col-md-12">
            <div class="form-group">
                <label for="impressionsText">Impressions:</label>

                <p id="impressionsText"></p>
            </div>
        </div>
    </div>

    <div class="row userrow">
        <div class="col-md-4 googleMap">
            <div  id="map"></div>
            <p id="datesText"></p>
        </div>

    </div>

    <!--<p id="exampleTextarea"><span th:text="${user.getTrips().toArray()[0].getImpression()}"></span></p>-->
    <!--<p id="getTripId"><span th:text="${user.getTrips().toArray()[0].getId()}"></span></p>-->

</div>


<div id="addPhotoDiv">
    <form class="form" action="#" id="addPhotoForm">

        <h3 class="formTitle">Add Trip Photo</h3>
        <hr/><br/>
        <label>Photo Name: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="photoName" placeholder="Photo Name"/><br/>
        <br/>
        <label>Photo Link: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="photoLink" placeholder="Photo Link"/><br/>
        <br/>

        <input type="button" class="formInput" id="sendPhoto" value="Send"/>
        <input type="button" class="formInput" id="cancelPhoto" value="Cancel"/>
        <br/>
    </form>
</div>


<div id="addTripDiv">
    <form class="form" action="#" id="addTripForm">

        <h3 class="formTitle">New Trip Details</h3>
        <hr/><br/>
        <label for="tripName">Trip Name: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="tripName" placeholder="Trip Name"/><br/>
        <br/>

        <label for="datePickerFrom">Date From: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="datePickerFrom" placeholder="Date From"/><br/>
        <br/>

        <label for="datePickerTo">Date To: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="datePickerTo" placeholder="Date To"/><br/>
        <br/>

        <label for="tripImpressions">Impressions: <span>*</span></label>
        <br/>
        <textarea id="tripImpressions" placeholder="Impressions..."></textarea><br/>
        <br/>

        <label for="cityName">City Name: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="cityName" placeholder="City Name"/><br/>
        <br/>

        <label for="countryName">Country Name: <span>*</span></label>
        <br/>
        <input type="text" class="formInput" id="countryName" placeholder="Country/State Name"/><br/>
        <br/>




        <input type="button" class="formInput" id="sendTrip" value="Send"/>
        <input type="button" class="formInput" id="cancelTrip" value="Cancel"/>
        <br/>
    </form>
</div>

<div id="editTripDiv">
    <form class="form" action="#" id="editTripForm">

        <h3 class="formTitle">Edit Trip</h3>
        <hr/><br/>
        <label for="tripName">Trip Name: </label>
        <br/>
        <input type="text" class="formInput" id="editTripName"/><br/>
        <br/>

        <label for="datePickerFrom">Date From: </label>
        <br/>
        <input type="text" class="formInput" id="editDatePickerFrom"/><br/>
        <br/>

        <label for="datePickerTo">Date To: </label>
        <br/>
        <input type="text" class="formInput" id="editDatePickerTo"/><br/>
        <br/>

        <label for="tripImpressions">Impressions: </label>
        <br/>
        <textarea id="editTripImpressions" ></textarea><br/>
        <br/>

        <label for="cityName">City Name: </label>
        <br/>
        <input type="text" class="formInput" id="editCityName" /><br/>
        <br/>

        <label for="countryName">Country Name: </label>
        <br/>
        <input type="text" class="formInput" id="editCountryName"/><br/>
        <br/>




        <input type="button" class="formInput" id="editSendTrip" value="Send"/>
        <input type="button" class="formInput" id="editCancelTrip" value="Cancel"/>
        <br/>
    </form>
</div>


<p id="currentUserId" th:text="${currentUser.getId()}"></p>



<!--<p id="currentUserId" th:text="${currentUser.getId()}" th:utext="${currentUser.getId()}"></p>-->


<!--<form th:action="@{/logout}" method="post">-->
<!--<input type="submit" value="Sign Out"/>-->
<script type="text/javascript" th:src="@{/plugins/googlemap.js}"></script>
<script type="text/javascript" th:src="@{/plugins/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap.min.js}" ></script>
<script type="text/javascript" th:src="@{/plugins/userajax.js}" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL3OcNBWkphg7AdM5AZEPN-MU8c2r68Nw&callback=initMap" async defer></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>











<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
    <!--<title>Hello World!</title>-->
<!--</head>-->
<!--<body>-->

<!--<p th:text="text" th:utext="${currentUser.username}">Welcome</p>-->
<!--<p>Hello <span th:text="${user.firstName}"></span></p>-->
<!--<p>Test</p>-->

<!--&lt;!&ndash;<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>&ndash;&gt;-->
<!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
